<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OneTM_DAO.Properties.Settings.ITTicketSystemConnectionString"
            connectionString="Data Source=sql7005.site4now.net;Initial Catalog=DB_A3691F_ticket;User ID=DB_A3691F_ticket_admin;Password=TTcc1122"
            providerName="System.Data.SqlClient" />
        <add name="OneTM_DAO.Properties.Settings.ITTicketSystemConnectionString1"
            connectionString="Data Source=sql7005.site4now.net;Initial Catalog=DB_A3691F_ticket;User ID=DB_A3691F_ticket_admin;Password=TTcc1122"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>